<footer>
    <div class="footer">
        <div class="container">
            <div class="row footer-description">
                <div class="col-md-4 mb-3">
                    <h5>Về Trịnh Mobile</h5>
                    <p>Chuyên cung cấp điện thoại, laptop, phụ kiện chính hãng với giá tốt nhất.</p>
                    <p><strong>Địa chỉ:</strong> Quận Hoàng Mai, Hà Nội</p>
                </div>
                <div class="col-md-4 mb-3">
                    <h5>Hỗ trợ khách hàng</h5>
                    <ul style="list-style:none; padding-left:0;">
                        <li>Chính sách đổi trả</li>
                        <li>Chính sách bảo hành</li>
                        <li>Hướng dẫn mua hàng</li>
                        <li>Liên hệ hỗ trợ</li>
                    </ul>
                </div>
                <div class="col-md-4 mb-3">
                    <h5>Liên hệ</h5>
                    <p>Hotline: <strong>0342424988</strong></p>
                    <p>Email: <a href="mailto:nvtrinh999@gmail.com" style="color:#009981;;">nvtrinh999&#64;gmail.com</a></p>
                    <div>
                        <a href="#" style="color:#009981;; margin-right:10px;"><i class="fab fa-facebook fa-lg"></i></a>
                        <a href="#" style="color:#009981;;"><i class="fab fa-instagram fa-lg"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center mt-3">
                    <small>&copy; 2025 Trịnh Mobile. All rights reserved.</small>
                </div>
            </div>
        </div>
    </div>
</footer>
