<div class="user-layout" [class.mobile]="isMobile">
  <app-header></app-header>
  <div class="layout-container">
    <!-- Sidebar chỉ hiển thị cho các trang không phải user-orders -->
    <app-sidebar *ngIf="!isOrdersPage()"></app-sidebar>
    <main #mainContent class="main-content" [class.full-width]="isOrdersPage()" (scroll)="checkScrollPosition()">
      <router-outlet></router-outlet>
      <div *ngIf="showFooter" [@footerAnimation]="'show'" class="footer-container">
        <app-footer></app-footer>
      </div>
    </main>
  </div>
</div> 